<h2>新規登録画面</h2>
<%= form_for @user do |form| %>
 <%= form.label :uid, "ユーザーID" %>
 <%= form.text_field :uid %>
 <%= form.label :pass, "パスワード" %>
 <%= form.password_field :pass %>
 <%= form.submit "登録" %>
<% end %>

<%= link_to 'Back', users_path %>
